.App {
  text-align: center;
}

.App-content {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.canvas-class {
  width: 112px;
  height: 112px;
  border: 1px solid darkgrey;
  border-radius: 7px;
}

.classify-btn {
  font-size: 16px;
  padding: 10px;
  margin: 10px;
  border: 1px solid darkgrey;
  border-radius: 7px;
}


